[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mosaic = {git = "git+https://github.com/edgemind-sas/mosaic.git"}
tqdm = "*"
statsmodels = "*"
pandas = "*"
plotly = "*"
tabulate = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
